.idea/
*.iml
.gradle/
build/
local.properties
.DS_Store
*.log
*.tmp
*.keystore
node_modules/
*.xcworkspace
*.xcuserstate
Pods/
iosApp/iosApp.xcodeproj/project.xcworkspace/
*.xcodeproj/project.xcworkspace/
xcuserdata/
DerivedData/

